<div class="body_panel panel-default">

  <div class='field form-group'>
    <%= f.label :image, class: 'col-md-2 control-label' %>
    <div class='col-sm-3'>
      <%= f.file_field :image, multiple: false %>
    </div>
  </div>

      <% if @event.image? %>
      <div class='field form-group'>
        <div class='col-md-2 control-label'></div>

        <div class='col-sm-5'>
          <%= f.check_box :remove_image %>
        </div>
      </div>

      <div class="field form-group">
        <div class='col-md-2 control-label'></div>
        <div class='col-sm-10'>
          <%= image_tag(@event.image_url, size: '380', class: "img-thumbnail")%>
        </div>
      </div>

  <% end %>

  <div class="panel-body">
    <%= form_field_text(f, :name) %>
    <div class="row field form-group">
      <%= form_field_row_numeric(f, :price) %>
      <%= form_field_row_date(f, :start_date) %>
      <%= form_field_row_date(f, :end_date) %>
      <%= form_field_row_text(f, :location) %>
    </div>
    <div class='field form-group'>
      <%= f.label :description, class: 'col-md-2 control-label' %>
      <div class='col-sm-10'>
        <%= f.text_area :description, class: 'form-comtrol', rows: 5 %>
      </div>
    </div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Save" %>
    </div>
  </div>
</div>