<div><%= link_to promo.name, promo_path(promo.id) %></div>
<div><%= promo.starts %></div>
<div><%= promo.ends %></div>
<div><%=  %></div>
<div><%= link_to promo.enterprise.name, enterprise_path(promo.enterprise.id) %></div>
<div><%= promo.description %></div>