<article class="enterprisespan8">
  <h2>
    <%= link_to promo.name, promo_path(promo.id) %>
  </h2>
  <hr>
  <%= image_tag(promo.image_url, size: '200', class: "img-responsive",) %>
  <div><%=t 'starts' %>: <span><%= promo.starts %></span> <%= t 'ending' %>: <span><%= promo.ends %></span></div>
  <div><%=t 'carried by'  %>: <%= link_to promo.enterprise.name, enterprise_path(promo.enterprise.id) %></div>
  <% unless promo.description.empty? %>
    <%= truncate(promo.description, :length => 650)%>
  <% end %>
</article>
<div class="rmore">
  <%= link_to  promo_path(promo.id), { :class=>"btn btn-primary", :role=>"button" } do %>
     <%=t 'read more' %> <span class="glyphicon glyphicon-chevron-right"></span>
  <% end %>
</div>
<hr>
<br/>