<div class="page-header">
  <h1> <%= t 'promo' %> </h1>
</div>

<div class="body_panel panel-default">
  <div class="panel-body">
    <div class="col-md-4">

      <p><%= image_tag(@promo.image_url, size: '250', class: "img-thumbnail") %> </p>

    </div>
    <div><%= @promo.name %></div>
    <div><%=t 'starts'  %>: <span><%= @promo.starts %></span> <%=t 'ending' %>: <span><%= @promo.ends %></span></div>
    <div><%= %></div>
    <div><%= t 'carried by' %>: <%= link_to @promo.enterprise.name, enterprise_path(@promo.enterprise.id) %></div>
    <div><%= t 'description' %>: <%= @promo.description %></div>
  </div>
</div>